---
layout: base
---
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">KnightOS </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    File 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#new_file_Modal">New file</a>
                        </li>
                        <li>
                            <a href="#">Add file</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" id="export">Export files</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    Emulator 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Load ROM</a>
                        </li>
                        <li>
                            <a href="#">Debugger</a>
                        </li>
                        <li>
                            <a href="#">Logger</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    Project 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#dependencies_Modal">Manage dependencies</a>
                        </li>
                        <li>
                            <a href="#">Export package</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    Examples 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" class="load-exmaple" data-source="/sources/hello-world.asm">Hello World</a>
                        </li>
                        <li>
                            <a href="#" class="load-exmaple" data-source="/sources/hello-corelib.asm">Hello Corelib</a>
                        </li>
                        <li>
                            <a href="#" class="load-exmaple" data-source="/sources/fileman.asm">Fileman</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    Tutorials 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Getting Started</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <button class="btn btn-primary navbar-btn" disabled="disabled" id="run-project">
                        <span class="glyphicon glyphicon-play"></span> Run 
                    </button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text warn"><span class="label label-danger">Work In Progress</span></p>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" data-toggle="modal" id="settings">Settings</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#shortcut_Modal">Shortcuts</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#docs_Modal">Docs</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="http://www.knightos.org">About KnightOS</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col col-md-7">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#_file_main_asm" role="tab" data-toggle="tab">main.asm</a>
            </li>
            <li>
                <a href="#_file_package_config" role="tab" data-toggle="tab">package.config</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="_file_main_asm">
                <div class="editor" data-file="main.asm">{% include main.asm %}</div>
            </div>
            <div role="tabpanel" class="tab-pane" id="_file_package_config">
                <div class="editor" data-file="package.config">{% include package.config %}</div>
            </div>
        </div>
    </div>
    <div class="col col-md-5">
        <div class="calculator">
            <canvas width="385" height="256" id="screen"></canvas>
        </div>
        <textarea disabled class="form-control" rows=8 placeholder="(toolchain output)" id="tool-log"></textarea>
    </div>
</div>
<!-- modal -->
<div class="modal" id="new_file_Modal" tabindex="-1" role="dialog" aria-labelledby="new_file_ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="new_file_ModalLabel">New File</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control fileInput" id="new_file_title" placeholder="file">
                            <div class="input-group-addon">.asm</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="sumbit" class="btn btn-primary" data-dismiss="modal" id="new_file">New File</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="shortcut_Modal" tabindex="-1" role="dialog" aria-labelledby="shortcut_ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="shortcut_ModalLabel">Shortcuts <span class="label label-danger">Work In Progress</span></h4>
                </div>
                <div class="modal-body">
                    <table class="table table-condensed table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <kbd>Ctrl + R</kbd>
                                </td>
                                <td>
                                    Run
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <kbd>Ctrl + N</kbd>
                                </td>
                                <td>
                                    New File
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <kbd>Ctrl + W</kbd>
                                </td>
                                <td>
                                    Close File
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <kbd>Ctrl + Z</kbd>
                                </td>
                                <td>
                                    Undo
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <kbd>Ctrl + Y</kbd>
                                </td>
                                <td>
                                    Redo
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <kbd>Ctrl + .</kbd>
                                </td>
                                <td>
                                    Shortcuts
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <kbd>Ctrl + ,</kbd>
                                </td>
                                <td>
                                    Settings
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <kbd>Ctrl + /</kbd>
                                </td>
                                <td>
                                    Docs
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="docs_Modal" tabindex="-1" role="dialog" aria-labelledby="docs_ModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 90%; height: 60%">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="docs_ModalLabel">Docs <span class="label label-danger">Work In Progress</span> <input type="text" class="doc_search" value="" class="input" ></h4>
                </div>
                <div class="doc-body modal-body">

                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="dependencies_Modal" tabindex="-1" role="dialog" aria-labelledby="dependencies_ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="dependencies_ModalLabel">Manage Dependencies</h4>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <button class="btn btn-primary" data-package="core/settings">Install</button>
                        core/settings
                    </div>
                    <div class="row-fluid">
                        <button class="btn btn-primary" data-package="core/castle">Install</button>
                        core/castle
                    </div>
                    <div class="row-fluid">
                        <button class="btn btn-primary" data-package="core/threadlist">Install</button>
                        core/threadlist
                    </div>
                    <div class="row-fluid">
                        <button class="btn btn-primary" data-package="core/textview">Install</button>
                        core/textview
                    </div>
                    <div class="row-fluid">
                        <button class="btn btn-primary" data-package="core/configlib">Install</button>
                        core/configlib
                    </div>
                    <div class="row-fluid">
                        <button class="btn btn-primary" data-package="extra/bed">Install</button>
                        extra/bed
                    </div>
                    <div class="row-fluid">
                        <button class="btn btn-primary" data-package="extra/fileman">Install</button>
                        extra/fileman
                    </div>
                    <div class="row-fluid">
                        <button class="btn btn-primary" data-package="extra/demos">Install</button>
                        extra/demos
                    </div>
                    <div class="row-fluid">
                        <button class="btn btn-primary" data-package="extra/fx3dlib">Install</button>
                        extra/fx3dlib
                    </div>
                    <div class="row-fluid">
                        <button class="btn btn-primary" data-package="extra/periodic">Install</button>
                        extra/periodic
                    </div>
                    <div class="row-fluid">
                        <button class="btn btn-primary" data-package="extra/libc">Install</button>
                        extra/libc
                    </div>
                    <div class="row-fluid">
                        <button class="btn btn-primary" data-package="ports/phoenix">Install</button>
                        ports/phoenix
                    </div>
                </div>
                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="sumbit" class="btn btn-primary" data-dismiss="modal">Update Dependencies</button>
                </div>-->
            </form>
        </div>
    </div>
</div>
<script data-main="/scripts/main.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js"></script>


<link rel="stylesheet" href="/css/base.css"/>
<link rel="stylesheet" href="/css/index.css"/>
<link rel="stylesheet" href="/jstree/jstree.min.css" />
