html,
body {
    height: 100%;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
nav {
    z-index: 100;
}
.nav-tabs {
    margin-top: -5px;
}
.calculator {
    background: url('/static/skin.png');
    width: 645px;
    height: 422px;
    margin: 0 auto;
    position: relative;
}
.calculator canvas {
    position: absolute !important;
    left: 122px !important;
    top: 130px !important;
}
textarea {
    cursor: default !important;
}
a, button {
   outline: 0 !important;
}
.modal-content,.input-group-addon, .nav-tabs > li > a, .label{
    border-radius: 0;
}
